body {
  background-image: url(images/sky.jpg);
  background: #e7e6e1;
  background: #afc5ff;
  background: #c4c1e0;
  background: #fad3cf;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-weight: 400;
  margin-block-end: 0;
}

ul {
  list-style-type: none;
}

footer {
  color: #1e1c1c;
  font-family: "Outfit", sans-serif;
  margin-top: auto;
  text-align: center;
}

.container {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  color: #1e1c1c;
  font-family: "Outfit", sans-serif;
  margin: 20px auto;
  padding: 35px 40px;
  width: 700px;
}

.city-input {
  border: none;
  border-radius: 15px;
  font-weight: 300;
  padding: 7px 15px;
}

.search-btn5 {
  border: 1px solid #0b5ed7;
  border-radius: 6px;
  color: #0a5acf;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 15px;
  background: transparent;
  transition: all 300ms ease-in-out;
}

.search-btn5:hover {
  background: #0b5ed7;
  color: #fff;
}

.current-weather-container {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.time {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.weather-icon-box {
  padding: 0;
}

.weather-icon-box img {
  display: block;
  margin: 0 auto;
}

.weather-overview {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  padding: 0;
}

.current-temp {
  align-items: center;
  display: flex;
  font-size: 60px;
}

.description::first-letter {
  text-transform: capitalize;
}

.current-temp-flex {
  height: 2em;
  justify-content: flex-start;
}

.temp-scales {
  align-items: flex-start;
  color: #0b5ed7;
  display: flex;
  font-size: 25px;
  text-decoration: none;
}

.temp-scales:hover {
  cursor: pointer;
}

.inactive {
  color: #1e1c1c;
  cursor: default;
}

.forecast {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.weather-icon {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.params {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  padding: 0;
  margin-right: 20px;
}

.crosshairs {
  color: #0a5acf;
  cursor: pointer;
  float: right;
}

.temp-min {
  /*color: #b7b7b7;*/
  color: #929aab;
}

.attribution {
  color: #1e1c1c;
  font-family: "Outfit", sans-serif;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.attribution-link {
  color: #0a5acf;
  text-decoration: none;
}
